@mixin container() {
    width: 100%;
    max-width: var(--page-container);
    margin-right: auto;
    margin-left: auto;
}

@mixin content() {
    width: 100%;
    max-width: var(--page-content);
    margin-right: auto;
    margin-left: auto;
}

@mixin button($padding: auto) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
    border: none;
    border-radius: var(--element-border-radius);
    background: var(--button-background);
    box-shadow: $shadow;
    color: var(--button-color);
    text-decoration: none;
    cursor: pointer;

    @if $padding == auto {
        padding: $spacer $spacer * 1.5;
    } @else {
        padding: $padding;
    }
}

@mixin button-hover() {
    background: var(--color-accent);
    box-shadow: $shadow-hover;
}

@mixin button-icon($padding: auto) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    min-height: 48px;
    transition: $transition;
    border: none;
    border-radius: var(--element-border-radius);
    text-decoration: none;
    cursor: pointer;

    @if $padding == auto {
        padding: $spacer $spacer * 1.5;
    } @else {
        padding: $padding;
    }

    svg {
        transition: $transition;
        fill: var(--color-primary);
    }
}

@mixin button-icon-hover() {
    svg {
        fill: var(--color-accent);
    }
}

@mixin font-headings() {
    font-family: var(--font-family-headings);
    font-weight: var(--font-weight-headings);
    line-height: var(--line-height-headings);
}
