html {
    font-family: var(--font-family-base);
    font-size: 16px;
}

body {
    margin: 0;
    background: var(--page-background);
    color: var(--color-primary);
    font-size: $font-size-base;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: $headings-margin-top;
    margin-bottom: $headings-margin-bottom;
    font-family: var(--font-family-headings);
    font-weight: var(--font-weight-headings);
    line-height: var(--line-height-headings);
}

p,
ul,
ol,
dl {
    margin-top: 0;
    margin-bottom: $paragraph-margin-bottom;
}

input, select {
	padding: $spacer * 0.5 $spacer;
	border-radius: var(--element-border-radius);
	border: var(--element-border-width) solid var(--color-border);
}

.container {
    @include container;
}

.button-icon {
    @include button-icon($padding: $spacer * 0.5);
    background: transparent;

    font-size: 1.5rem;

    &:hover {
        @include button-icon-hover;
    }
}

.memo {
    display: flex;
    flex-direction: column;
    max-width: var(--page-container);
    margin: $spacer * 2 auto;
    gap: $spacer;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            img {
                width: 100%;
                height: 100%;
            }

            svg {
                path {
                    fill: var(--color-primary);
                }
            }
        }

        &__buttons {
            display: flex;
            align-items: center;
            gap: $spacer * 0.5;
        }

        &:not(:last-child) {
            padding-bottom: $spacer * 2;
            border-bottom: 1px solid var(--color-border);
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: $spacer;
        margin: 0 auto;
    }

    &-score {
        display: grid;
        grid-template-columns: 100px 1fr 100px;
        width: 100%;
        gap: $spacer;

        &__moves {
            display: flex;
            align-items: center;
            margin-left: $spacer;
            font-size: $font-size-h6;

            svg {
                font-size: $spacer;
            }

            span {
                &:not(:first-child) {
                    margin-left: $spacer * 0.5;
                }
            }
        }

        &__players {
            display: flex;
            gap: $spacer;
            justify-self: center;

            &-player {
                opacity: 0.5;
                color: var(--color-primary);

                &.is-active {
                    opacity: 1;
                }

                &-name {
                    @include font-headings;

                    font-size: 1.5rem;
                }

                &:not(:first-child) {
                    padding-left: $spacer;
                    border-left: 1px solid var(--color-border);
                }
            }
        }

        &__time {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: $spacer;
            font-size: $font-size-h6;

            svg {
                font-size: $spacer;
            }

            span {
                &:not(:first-child) {
                    margin-left: $spacer * 0.5;
                }
            }
        }
    }

    &-board {
        display: flex;
        justify-content: center;

        &-inner {
            display: flex;
            flex-wrap: wrap;
            width: calc(((#{$gutter} * 6) + #{$spacer}) * var(--game-cards));
            padding: calc(#{$spacer} * 0.5);
            border: var(--element-border-width) solid var(--color-border);
            border-radius: var(--element-border-radius);
            background: var(--layout-background);
            box-shadow: $shadow;
        }

        &__card {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            width: $gutter * 6;
            height: $gutter * 6;
            margin: $spacer * 0.5;
            overflow: hidden;
            transition: $transition;
            border-radius: var(--element-border-radius);
            box-shadow: $shadow;
            cursor: pointer;

            img {
                width: $gutter * 4;
                height: $gutter * 4;
            }

            &::before {
                content: '';
                position: absolute;
                z-index: 1;
                width: calc((#{$gutter} * 6) - (var(--element-border-width) * 2));
                height: calc((#{$gutter} * 6) - (var(--element-border-width) * 2));
                border: var(--element-border-width) solid var(--color-border);
                border-radius: var(--element-border-radius);
            }

            &::after {
                content: '';
                position: absolute;
                z-index: 2;
                width: calc((#{$gutter} * 6) - (var(--game-card-border-width) * 2));
                height: calc((#{$gutter} * 6) - (var(--game-card-border-width) * 2));
                border: var(--game-card-border-width) solid var(--game-card-border-color);
                border-radius: var(--element-border-radius);
                opacity: 0.5;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: calc((#{$gutter} * 6) - (var(--game-card-border-width) * 2));
                height: calc((#{$gutter} * 6) - (var(--game-card-border-width) * 2));
                border: var(--game-card-border-width) solid var(--game-card-border-color);
                border-radius: var(--element-border-radius);
            }

            &.is-active {
                pointer-events: none;

                span,
                img {
                    visibility: visible;
                }

                &::after {
                    border-color: var(--game-card-border-color-active);
                }

                &.is-match {
                    span,
                    &::after {
                        border-color: var(--game-card-border-color-match);
                    }
                }

                &.is-not-match {
                    span,
                    &::after {
                        border-color: var(--color-warning);
                    }
                }
            }

            &.is-open {
                span,
                &::after {
                    visibility: visible;
                    border-color: transparent;
                }
            }

            &:not(.is-open, .is-active) {
                background: var(--game-card-backface);

                span,
                img {
                    visibility: hidden;
                }
            }

            &:not(.is-open, .is-active):hover {
                box-shadow: $shadow-hover;
            }

            // TEMP
            // &:hover {
            // 	span {
            // 		visibility: visible;
            // 		border-color: transparent;
            // 	}
            // }
            // TEMP

            &-type-1 {
                background: #f6f3f2;
            }

            &-type-2 {
                background: #f4f5f7;
            }

            &-type-3 {
                background: #f4f5f7;
            }

            &-type-4 {
                background: #f4f5f1;
            }

            &-type-5 {
                background: #f6f3f1;
            }

            &-type-6 {
                background: #f3f3f9;
            }

            &-type-7 {
                background: #f5f2eb;
            }

            &-type-8 {
                background: #eeefec;
            }
        }
    }
}

.memo-modal {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	justify-content: center;
	align-items: center;

	&-start {
		.start-new-game-form {
			display: flex;
			flex-direction: column;

			label {
				margin-bottom: $spacer * 0.25;

				&:not(:first-child) {
					margin-top: $spacer;
				}
			}

			button {
				&:not(:first-child) {
					margin-top: $spacer * 2;
				}
			}
		}
	}

	&-end {

	}

	&-help {
		.memo-modal__content {
			justify-content: flex-start;
			align-items: flex-start;
		}
	}

	&.is-active {
		display: flex;
	}

	&__overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 110;
		background: rgba(0,0,0,0.5);
	}

	&__container {
		position: absolute;
		z-index: 120;
		display: grid;
		grid-template-rows: auto 1fr;
		row-gap: $spacer;
		width: calc( var(--page-container) - ( #{$spacer} * 4 ) );
		min-height: 50vh;
		margin: 0 auto;
		padding: $spacer * 2;
		background: var(--page-background);
		border-radius: var(--element-border-radius);
	}

	&__close {
		position: absolute;
		top: $spacer * 0.5;
		right: $spacer * 0.5;
		width: $gutter * 3;
		height: $gutter * 3;

		@include button-icon(
			$padding: $spacer * 0.5
		);
	
		font-size: 1.5rem;
		background: transparent;
	
		&:hover {
			@include button-icon-hover();
		}
	}

	&__header {
		display: flex;
		justify-content: center;
		padding-bottom: $spacer;

		@include font-headings();
		font-size: 1.5rem;

		border-bottom: var(--element-border-width) solid var(--color-border);
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100%;

		button {
			@include button();

			&:hover {
				@include button-hover();
			}
		}
	}
}