@mixin container() {
    width: 100%;
    max-width: var(--page-container);
    margin-right: auto;
    margin-left: auto;
}

@mixin content() {
    width: 100%;
    max-width: var(--page-content);
    margin-right: auto;
    margin-left: auto;
}
