:root {
	--page-container: 1152px;
	--page-content: 800px;
	
	--page-background: #F5F3DD;
	--layout-background: #ffffff;
	--color-primary: #2E1A05;
	--color-secondary: #6e6e6e;
	--color-mute: #b1b1b1;
	--color-accent: #8FC8C7;
	--color-warning: #E75E50;
	--color-border: #e1e1e1;
	--button-background: #ff0000;
	--button-color: #ffffff;
	
	--font-family-base: 'Rubik', sans-serif;
	--font-weight-base: 400;
	--line-height-base: 1.4;
	--font-family-headings: 'Rubik', sans-serif;
	--font-weight-headings: 700;
	--line-height-headings: 1.12;
	
	--image-border-radius: 4px;
	--element-border-radius: 4px;

	// Game Field
	--game-cards: 10;
	--game-card-border-width: 4px;
	--game-card-backface: #EAE6B9;
	--game-card-border-color: #EAE6B9;
	--game-card-border-color-match: #919B1C;
}

// Spacing
$spacer: 1rem !default;
$gutter: 16px;
$headings-margin-top: 0;
$headings-margin-bottom: $spacer;
$paragraph-margin-bottom: $spacer;

// Typography
$font-size-h1: 3.5rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2rem;
$font-size-h4: 1.75rem;
$font-size-h5: 1.5rem;
$font-size-h6: 1.25rem;
$font-size-base: 1rem;

// Misc
$transition: 0.3s;
$shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
$shadow-hover: 0 0 16px 0 rgba(0, 0, 0, 0.15);
$shadow-hover-deep: 0 0 16px 0 rgba(0, 0, 0, 0.35);
