:root {
    --page-container: 272px;
    --page-content: 100%;
    --page-background: #efe1cb;
    --layout-background: #fefdfa;
    --color-primary: #3f2e2b;
    --color-secondary: #6e6e6e;
    --color-mute: #b1b1b1;
    --color-accent: #cb623d;
    --color-warning: #e75e50;
    --color-border: #eed7b3;
    --button-background: #3f2e2b;
    --button-color: #ffffff;
    --font-family-base: 'Rubik', sans-serif;
    --font-weight-base: 400;
    --line-height-base: 1.4;
    --font-family-headings: 'Rubik', sans-serif;
    --font-weight-headings: 600;
    --line-height-headings: 1.12;
    --element-border-width: 1px;
    --image-border-radius: 4px;
    --element-border-radius: 4px;

    // Game Field
    --game-cards: 4;
    --game-card-border-width: 4px;
    --game-card-backface: #f3e8d6;
    --game-card-border-color: #f3e8d6;
    --game-card-border-color-active: #e8b462;
    --game-card-border-color-match: #5d7c42;

    @media (width >= 360px) {
        --page-container: 90%;
    }

    @media (width >= 992px) {
        --page-container: 912px;
        --page-content: 800px;
    }
}

// Spacing
$spacer: 1rem !default;
$gutter: 16px;
$headings-margin-top: 0;
$headings-margin-bottom: $spacer;
$paragraph-margin-bottom: $spacer;

// Typography
$font-size-h1: 2rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.375rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1.25rem;
$font-size-base: 1rem;

// Misc
$transition: 0.2s;
$shadow: 0 0 16px 0 rgb(0 0 0 / 5%);
$shadow-hover: 0 0 16px 0 rgb(0 0 0 / 10%);
$shadow-hover-deep: 0 0 16px 0 rgb(0 0 0 / 35%);
